/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
.navbar-default .navbar-nav li a.top-phone {
	line-height: 18px;
	font-size: 14px;
}
/* Mobile Boxes */
ul.mobile-boxes li .buttons {
	display: none;
}
ul.mobile-boxes li {
	width: 50%;
}
ul.mobile-boxes li .details {
	width: 62%;
	padding: 0 10px;
}
/* Mobile Boxes */
ul.mobile-boxes li .buttons {
	display: none;
}
ul.mobile-boxes li {
	width: 50%;
}
ul.mobile-boxes li .details {
	width: 62%;
	padding: 0 10px;
}
ul.mobile-boxes {
	background-size: 70%;
}
.background21, .background20 {
	background-image: none!important;
}
#special-offer .p-top-100 {
	padding-top: 0;
}
.container-copy {
	width: 100%;
	max-width: 75%;
}
#footer, #footer .text-right {
	text-align: center;
}

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	color: #8c8c8c;
	line-height: 28px!important;
}
.navbar-nav {
	margin: 7.5px 15px;
	padding: 0px!important;
}
.navbar-default .navbar-brand img.logo {
	height: 50px!important;
	padding: 0px;
	margin: 0px;
}
.myButton {
	max-width: 80%;
}
h1 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1.2;
}
h2 {
	font-size: 20px;
	line-height: 1.2;
}
ul.mobile-boxes li h4 {
	font-size: 20px;
	color: #656565;
	margin: 15px 0 10px;
	font-weight: 300;
}
ul.mobile-boxes li {
	width: 100%;
}
ul.mobile-boxes li h4 {
	font-size: 18px;
}
.hour-box .circle {
	left: 0;
}
.hour-box:before {
	left: 21px;
}
.hour-box {
	padding-left: 50px;
}
.hour-box .toggle-btn h3 {
	margin-top: 10px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
ul.mobile-boxes {
	margin: 0 auto;
}
ul.mobile-boxes li, ul.mobile-boxes li:nth-of-type(2n) {
	width: 90%;
	float: none;
	margin: 50px auto;
	padding: 0;
	display: block;
}
ul.mobile-boxes li:nth-of-type(2n) .details, ul.mobile-boxes li .details {
	text-align: center;
	float: none;
}
ul.mobile-boxes li div.mobile-icon, ul.mobile-boxes li h4, ul.mobile-boxes li h4 + p {
	text-align: center;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
.hour-box .toggle-btn h3 {
	margin-top: 20px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
/* MAX 800px */
@media only screen and (max-width: 800px) {
/* Mobile Boxes */
ul.mobile-boxes {
	background: none;
	min-height: 300px;
}
ul.mobile-boxes li .details {
	width: 95%;
}
ul.mobile-boxes li.features-button {
	display: none;
}
.logo {
	display: block;
	text-align: center;
}
}
